* {
    box-sizing: border-box;
  }
  
  html,
  section,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 0 0rem;
  }

  .container {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .btn.btn-primary {
    background-color: #ffb300;
    color: #fff;
    border-radius: 2px;
  }
  /* .btn.btn-light {
    background-color: #fff;
    color: #111;
    border-radius: 2px;
  } */
  .btn.btn-primary:hover {
    background: #ffc233;
  }

  .alert {
    border-radius: 50px;
    display: block;

  }

  .alert-inside {
    margin: 2rem;
  }
  
  .close {
    float: right;
    border-radius: 1rem;
    border: hidden;
    background-color: rgb(255,0,0, 0.5);
    margin-right: 3px;
  }

  span {
    font-size: 1rem;
    margin: 0.3rem;
  }

  .sr-only {
    display: none;
  }